<div class="stock-details" id="stock-details">
    <div id="stockRange" style="
    font-weight: 600;
    font-size: 17px;
    color: #666666;
    line-height: 26px;">
        <div id="title">{{_stock.companyName}} ({{_stock.companySymbol}})</div>
        <div id="close" style=" font-size:17px">
            <div id="value" style="float: left;">$110.34</div>
            <div id="inc" style="color: #d64e0f;">&nbsp;&nbsp;&nbsp;−1.79 (1.60%)</div>
        </div>
        <div id="atClose" style=" font-family: SegoeUI;
        font-size: 14px;
        line-height: 26px;">Closed: Sep 17, 7:59 PM EDT </div>
    </div>
</div>   
<canvas #myAreaChart></canvas>

<!-- font-family: SegoeUI-Semibold; -->