
<!--
<div class="card-header">
  <label for="quantity">Quantity:</label>
  <input type="text" id="quantity" name="quantity"><br><br>
  <label for="price">Price:</label>
  <input type="number" id="price" name="price"><br><br>
  <button>(click)="addTrade()">Submit</button>
</div>


<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Buy</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Sell</div></sb-card-view-details>
    </div>
</div>

-->