<mat-button-toggle-group id="tradeToggle" #group="matButtonToggleGroup" value="buy">
  <mat-button-toggle (change)="onValChange($event.value)" aria-hidden="true" value="buy">Buy</mat-button-toggle>
  <mat-button-toggle (change)="onValChange($event.value)" aria-hidden="true" value="sell">Sell</mat-button-toggle>
</mat-button-toggle-group>



<form (submit)="$event.preventDefault()">
  <mat-form-field appearance="fill">
    <mat-label>Quantity</mat-label>
    <input matInput #quantity>
    <mat-hint *ngif="quantityAutoFilled">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Asking Price</mat-label>
    <input matInput #price>
    <mat-hint *ngif="priceAutoFilled">
  </mat-form-field>
</form>

<button mat-raise-button>Submit</button>
