<sb-layout-dashboard>
    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false">Buying Power</sb-dashboard-head>

        <sb-dashboard-cards [stockList]="getObservableList()" [currentStock]="this.getObservableStock()"></sb-dashboard-cards>
        <sb-dashboard-charts [stock]="this.getObservableStock()"></sb-dashboard-charts>
        <sb-dashboard-history></sb-dashboard-history>
        <!-- <h4>???</h4>
        <sb-dashboard-charts [stock]="this.getObservableStock()"></sb-dashboard-charts>
        <sb-dashboard-history [stock]="this.getObservableStock()"></sb-dashboard-history> -->


</sb-layout-dashboard>
