<sb-layout-dashboard>
    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="true"></sb-dashboard-head>


     <table style="width:100%;">
                <tr>
                    <td style="text-align:left;"><p>Buying Power</p></td>
                    <td style="text-align:center;"><p></p></td>
                    <td style="text-align:right;"><p>5,000,000,000</p></td>
                </tr>
            </table>

        <sb-dashboard-cards (clickedCard)="handleCard($event)" [stockList]="getObservableList()" [currentStock]="this.getObservableStock()"></sb-dashboard-cards>
        <sb-dashboard-charts [stock]="this.getObservableStock()"></sb-dashboard-charts>
        <sb-dashboard-history [stock]="this.getObservableStock()"></sb-dashboard-history>

</sb-layout-dashboard>
